h1{
	color: blue;
}	
p {
	font-family: calibri; 
	width: 500px
}
	.second_div {
		color: red;
}
 .third_div {
	font-weight: bold;
}
 #special_div {
	font-family: courier;
}
 button {
	padding: 15px 20px 15px 20px;
	background-colour: #888;
	color: green;
	border: 1px solid #ccc;
	border-radius=5px;
	cursor: pointer;
}